{% extends 'dashboard/layout.html' %}

{% block title %}upload{% endblock %}

{% block form_alert %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible show" role="alert"> 
    <ul>
    {% for field in form %}
      {% for error in field.errors %}
            <li>{{error}}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}	
{% endblock %}

{% block content %}
<div class="text-center d-flex align-items-center justify-content-center">
<div class="shadow p-4 mb-5 bg-body rounded w-100">
<h3> Upload a file </h3>
<br>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form }}
<br>
<br>
<input type="submit" value="upload" class="btn btn-secondary">
</form>
</div>
</div>
{% endblock %}